* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.d-flex {
    display: flex;
}

.bg-red {
    background: red;
}

.bg-blue {
    background: blue;
}

.bg-yellow {
    background: yellow;
}

.bg-purple {
    background: purple;
}

.bg-green_1 {
    background: rgba(237, 237, 14, 0.74);
}

.bg-greenyellow {
    background: greenyellow;
}

.bg-green {
    background: green;
}

.bg-white {
    background: white;
}

main {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.left {
    flex-basis: 300px;
    padding: 10px;
}

.content {
    flex-grow: 1;
    padding: 5px;
}

.flex-col {
    flex-direction: column;
}

header {
    height: 60px;
    width: 660px;
}

.center {
    width: 660px;
    height: 350px;
    justify-content: space-between;
    padding: 10px;
}

.content-1 {
    width: 290px;
    height: 300px;
}

.content-2 {
    width: 290px;
    height: 300px;
}

.content-3 {
    width: 640px;
    height: 370px;
    margin: 10px;
}

.menu {
    width: 280px;
    height: 45%;
    margin: 10px;
    overflow-y: scroll;
}

.menu_footer {
    width: 280px;
    height: 45%;
    margin: 10px;
    overflow-y: scroll;
}

footer {
    width: 660px;
    height: 170px;
    padding: 10px;
    justify-content: space-between;
}

.bg-white {
    width: 150px;
    height: 150px;
}